<style type="text/css">
  .error {
    color: red;
    font-size: 1.1em;
  }
</style>
<div ng-controller="appCtrl">  
<h1>CURD Opertions for Users using MongoDB</h1>
  <h2>Create a new user here :</h2>
  <form name='userForm' >
    <div>First Name:</div>
    <div> <input type="text" ng-model="firstname" required></div>

    <div>Last Name: </div>
    <div><input type="text" ng-model="lastname" required></div>
    <div>Email:</div>
    <div> <input type="email" name="usremail" ng-model="emailId" required>
      <span class="error" data-ng-show="userForm.usremail.$error.email">Not valid email!</span>
    </div>
    <div>Phone:</div>
    <div> <input type="text" placeholder="+91-636-78658" name="phone" ng-pattern="phoneNumbr" ng-model="phone" />
      <span class="error" ng-show="userForm.phone.$error.required">Required!</span>
      <span class="error" ng-show="userForm.phone.$error.minlength">Phone no not less that 10 char.</span>
      <span class="error" ng-show="userForm.phone.$error.maxlength">Phone no not more than 11 char.</span>
      <br><span class="error" ng-show="userForm.phone.$error.pattern">Please match pattern [+91-036-78658 ||
        91-036-78658]</span>
    </div>
    <div>Photo to upload</div>
    <div class="form-group">
      <input type="file" class="form-control-file form-control-sm" id='photofiles' />
  </div>
    <br>
    &nbsp;&nbsp;
    <button class="btn-success" ng-click='createUser()' ng-disabled="userForm.$invalid">Create User</button>
  </form>
  <hr>
  <div><h2>See Users List Here :</h2></div>
  <button ng-click="refreshUsers()">Refresh Users List</button>
  <hr>
  <div>
    <table border="1">
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email ID</td>
        <td>Mobile Number</td>
        <td>Photo</td>
        <td>Edit Action</td>
        <td>Delete Action</td>
        <td>View Action</td>
      </tr>
      <tr ng-repeat="x in usersList">
        <td>{{x.fname}}</td>
        <td>{{x.lname}}</td>
        <td>{{x.email}}</td>
        <td>{{x.phone}}</td>
        <td>{{x.imgName}}</td>
        <td><button ng-click="editUser(x)">Edit Info</button></td>
        <td><button ng-click="deleteUser(x)">Delete</button></td>
        <td><a ui-sref="view({userID:x._id})">View Info</a></td>
      </tr>
    </table>
  </div>
  <div>
    <form name='editForm' ng-show='isEdit'>
      <div>First Name:</div>
      <div> <input type="text" ng-model="editfirstname"></div>

      <div>Last Name: </div>
      <div><input type="text" ng-model="editlastname"></div>
      <div>Email:</div>
      <div> <input type="email" name="usremail" ng-model="editemailId" required>        
      <span class="error" data-ng-show="userForm.usremail.$error.email">Not valid email!</span>
      </div>
      <div>Phone:</div>
      <div> <input type="text" placeholder="+91-636-78658" name="phone" ng-pattern="phoneNumbr" ng-model="editphone" />
        <span class="error" ng-show="editForm.phone.$error.required">Required!</span>
        <span class="error" ng-show="editForm.phone.$error.minlength">Phone no not less that 10 char.</span>
        <span class="error" ng-show="editForm.phone.$error.maxlength">Phone no not more than 11 char.</span>
        <br><span class="error" ng-show="editForm.phone.$error.pattern">Please match pattern [+91-036-78658 ||
          91-036-78658]</span>
      </div>
      <br>
      &nbsp;&nbsp;
      <button class="btn-success" ng-click='updateUser()'>Update User</button>
    </form>
  </div>
</div>