<!DOCTYPE html>
<html ng-app="arkeneaApp">
<head>
	<title>ARKENEA TEST APP</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.29/angular-ui-router.js" integrity="sha512-X4A/kmx6SitMDOtgnd2ijE39awKTnh3CqJ1vVhT8M9u3T+ikdMMGsBP05YHsJTfme2RsU28HyiQ9udRKjgPOuQ==" crossorigin="anonymous"></script>
<body >
<div class="container" ng-controller="appCtrl">
<div ui-view>
</div>
</div>
</body>
<script src="script/app.js"></script>
<script src="script/main.js"></script>
<script src="script/configRouter.js"></script>
</html>